  <!-- Navigation Bar-->
  <header id="topnav">
    <!-- MENU Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="/">
                            <i class="ti-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="ti-email"></i>Sensor name</a>
                        <ul class="submenu">
                            <li><a href="/">1</a></li>
                            <li><a href="/">2</a></li>
                            <li><a href="/">3</a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="ti-support"></i>Sensor name</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a href="/">1</a></li>
                                    <li><a href="/">2</a></li>
                                    <li><a href="/">3</a></li>
                                    <li><a href="/">4</a></li>
                                    <li><a href="/">5</a></li>
                                    <li><a href="/">6</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                  <li><a href="/">1</a></li>
                                  <li><a href="/">2</a></li>
                                  <li><a href="/">3</a></li>
                                  <li><a href="/">4</a></li>
                                  <li><a href="/">5</a></li>
                                  <li><a href="/">6</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                  <li><a href="/">1</a></li>
                                  <li><a href="/">2</a></li>
                                  <li><a href="/">3</a></li>
                                  <li><a href="/">4</a></li>
                                  <li><a href="/">5</a></li>
                                  <li><a href="/">6</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="ti-receipt"></i>Sensor name</a>
                        <ul class="submenu">
                          <li><a href="/">1</a></li>
                          <li><a href="/">2</a></li>
                          <li><a href="/">3</a></li>
                          <li><a href="/">4</a></li>
                          <li><a href="/">5</a></li>
                          <li><a href="/">6</a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="ti-menu-alt"></i>Sensor name</a>
                        <ul class="submenu">
                            <li>
                                <a href="/">1</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#">2</a>
                                <ul class="submenu">
                                  <li><a href="/">1</a></li>
                                  <li><a href="/">2</a></li>
                                  <li><a href="/">3</a></li>
                                  <li><a href="/">4</a></li>
                                  <li><a href="/">5</a></li>
                                  <li><a href="/">6</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">3 </a>
                                <ul class="submenu">
                                  <li><a href="/">1</a></li>
                                  <li><a href="/">2</a></li>
                                  <li><a href="/">3</a></li>
                                  <li><a href="/">4</a></li>
                                  <li><a href="/">5</a></li>
                                  <li><a href="/">6</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">4</a>
                                <ul class="submenu">
                                  <li><a href="/">1</a></li>
                                  <li><a href="/">2</a></li>
                                  <li><a href="/">3</a></li>
                                  <li><a href="/">4</a></li>
                                  <li><a href="/">5</a></li>
                                  <li><a href="/">6</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="ui-rangeslider">5</a>
                            </li>
                            <li>
                                <a href="ui-session-timeout">6</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="ti-pie-chart"></i>Sensor name</a>
                        <ul class="submenu">
                          <li><a href="/">1</a></li>
                          <li><a href="/">2</a></li>
                          <li><a href="/">3</a></li>
                          <li><a href="/">4</a></li>
                          <li><a href="/">5</a></li>
                          <li><a href="/">6</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="/chart"><i class="ti-pie-chart"></i>Chart</a>
                        <ul class="submenu">
                          <li><a href="/">1</a></li>
                          <li><a href="/">2</a></li>
                          <li><a href="/">3</a></li>
                          <li><a href="/">4</a></li>
                          <li><a href="/">5</a></li>
                          <li><a href="/">6</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end navigation -->
        </div> <!-- end container-fluid -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar -->
